# SQL SERVER ODBC CONNECTION WITH PYTHON

In [99]:
import pyodbc
import pandas
from sqlalchemy import create_engine

In [100]:
connection = pyodbc.connect('DRIVER={SQL Server};SERVER=ip_address;DATABASE=database;UID=username;PWD=password')

In [101]:
sql_server = create_engine('mssql+pyodbc://username:password@ip_address:1433/database?driver=SQL+Server+Native+Client+11.0')

In [102]:
sql='SELECT * FROM SALES_2016_2019'

In [103]:
satis_data = pandas.read_sql(sql,connection)

In [104]:
df = pandas.DataFrame(satis_data)

In [105]:
df.describe()

,YEAR,PERIOD,MONTH,HALF,QUANTITY,TL
count,8325.000000,8325.000000,8325.000000,8325.00000,8325.000000,8325.000000
mean,2017.004565,201706.959159,6.502703,1.50030,2156.509309,16138.632971
std,0.814470,81.479015,3.430773,0.50003,4142.297068,27792.027252
min,2016.000000,201601.000000,1.000000,1.00000,-1250.000000,-40080.240000
25%,2016.000000,201610.000000,4.000000,1.00000,150.000000,2243.180000
50%,2017.000000,201707.000000,7.000000,2.00000,550.000000,6528.000000
75%,2018.000000,201803.000000,9.000000,2.00000,2160.000000,17945.440000
max,2018.000000,201812.000000,12.000000,2.00000,54325.000000,506224.070000

In [138]:
df.to_sql('SALES_FINAL',sql_server,if_exists="replace")